{
  "android": {
    "release": {
      "keystore": "KEYSTORE.keystore",
      "storePassword": "PASSWORD",
      "alias": "ALIAS",
      "password" : "PASSWORD",
      "keystoreType": ""
    }
  }
}
