<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mykonote" version="0.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mykonote</name>
    <description>
    </description>
    <author email="lex@panter.ch" href="http://www.panter.ch">
      Alexis Reigel | Panter AG
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="https://app.mykonote.com/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidLaunchMode" value="singleInstance" />
        <icon density="ldpi" src="res/android/icon/ldpi.png" />
        <icon density="mdpi" src="res/android/icon/mdpi.png" />
        <icon density="hdpi" src="res/android/icon/hdpi.png" />
        <icon density="xhdpi" src="res/android/icon/xhdpi.png" />
        <splash density="land-ldpi" src="res/android/splash/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="res/android/splash/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="res/android/splash/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="res/android/splash/drawable-land-xhdpi-screen.png" />
        <splash density="port-ldpi" src="res/android/splash/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="res/android/splash/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="res/android/splash/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="res/android/splash/drawable-port-xhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <plugin name="cordova-plugin-image-resizer" spec="^1.0.0" />
    <plugin name="com.napolitano.cordova.plugin.intent" spec="https://github.com/napolitano/cordova-plugin-intent#v0.1.31" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <preference name="AutoHideSplashScreen" value="false" />
</widget>
